{
    "presets": ["react", "env"],
    "plugins": [
        "react-hot-loader/babel",
        "transform-function-bind",
        "transform-class-properties",
        "transform-decorators",
        "transform-object-rest-spread",
        ["import", { "libraryName": "antd" }],
        ["lodash", { "id": ["lodash", "recompose"] }]
    ]
}